
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
# Flask stuff:
instance/
.webassets-cache

# database
app/database/mptweet.db

# dynamic json
app/static/data/twitter_credentials.json
app/data/allmplist.json
app/data/alltimetweet.json
app/data/getgenders.json
app/data/getparties.json
app/data/mostengagedgendertweet.json
app/data/mostengagedmptweet.json
app/data/mostengagedpartytweet.json
app/data/mplist.json