:root {
    --bgColor: white;
    --textColor: black;
    --accent: #5b50b6;
    --bgDarkColor: #5b50b6;
    --textDarkColor: #FEFFFF;
    --accentDark: #538cd9; 
}

body {
    font-family: 'Oswald', sans-serif;
    background: var(--bgColor);
}

h1 {
    font-family: 'Oswald';
    color: var(--textColor);
    text-align: center;
    text-decoration: underline;
}

h2 {
    font-family: 'Oswald', sans-serif;
    color: var(--textColor);
    text-align: center;
    padding-top: 10px;
    text-decoration: underline;
}

.maincontainer {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 100px 1fr 100px 1fr 100px 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

.container {
    display: grid;
    grid-gap: 5px;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-template-rows: repeat(auto-fit, 1fr);
    grid-column-gap: 2em;
    padding: 1em;
}

.shadow {
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.chart {
    color: var(--textColour);
}

.tweet {
    /* potential class. delete laterif unused*/
    align-items: center;
    display: inline-block;
    color: var(--textColour);
}
.twitter-tweet {
    margin: auto;
    
 }

 p {
     text-align: center;
     color: var(--textColor);
 }
