


:root {
    --bgColor: white;
    --textColor: black;
    --accent: #5b50b6;
    --bgDarkColor: #5b50b6;
    --textDarkColor: #FEFFFF;
    --accentDark: #538cd9;
    --titleFont: 'Oswald', sans-serif;
    --regularFont: 'Raleway', sans-serif;
}

body {
    font-family: var(--titleFont);
    background: var(--bgColor);
}

footer{
    font-family: var(--regularFont);
    text-align: center;
    margin: 25px;
}

h1 {
    font-family: var(--titleFont);
    color: var(--textColor);
    text-align: center;
    text-decoration: underline;
    margin: auto;
}

h2 {
    font-family: var(--titleFont);
    color: var(--textColor);
    text-align: center;
    text-decoration: underline;
    margin: auto;
}

.maincontainer {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 100px 1fr 100px 1fr 100px 1fr 100px 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

.container {
    display: grid;
    grid-gap: 5px;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-template-rows: repeat(auto-fit, 1fr);
    grid-column-gap: 2em;
    padding: 1em;
}

#chart_div4 {
    width: 100%;
    height: 100%;
}

.shadow {
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.chart {
    color: var(--textColour);
    display: inline-block;
    /* align with twitter widget */
    margin-top: 10px;
}

.tweet {
    /* potential class. delete laterif unused*/
    align-items: center;
    display: inline-block;
    color: var(--textColour);
}
.twitter-tweet {
    margin: auto;
 }

 p {
     text-align: center;
     color: var(--textColor);
     font-family: var(--regularFont);
 }
