body {
    background: #0d1219;
    color: #ffffff;
}

h1 {
    font-family: 'Rubik';
    text-align: center;
    border-bottom: 5px solid;
    padding-bottom: 1em;
}

h2 {
    font-family: 'Roboto Mono';
    padding-bottom: 2em;
}

.maincontainer {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 65px 1fr 65px 1fr 65px 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    
}

.container {
    display: grid;
    grid-gap: 5px;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-template-rows: repeat(auto-fit, 1fr);
    grid-column-gap: 2em;
    padding: 1em;
    background: #0d1219;

}

.chart {
    margin-top: 10px;
    margin-bottom: 10px;
    width: auto;
    height: auto;
}

.tweet {
  justify-items: center;
}