<!DOCTYPE html>
<html lang="en">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <meta name="description" content="MP twitter engagement app">
    <meta name="author" content="Jack Powell">
    <!-- load style sheets-->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <!-- load fonts -->
    <link href="https://fonts.googleapis.com/css?family=Oswald|Raleway&display=swap" rel="stylesheet">
    <!-- Load jquery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <!--Load the AJAX API-->
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
        // Load the Visualization API and the corechart package.
        google.charts.load('current', {
            'packages': ['corechart']
        });

        // Set a callback to run when the Google Visualization API is loaded.
        google.charts.setOnLoadCallback(drawChart1);

        // Callback that creates and populates a data table,
        // instantiates the chart, passes in the data and
        // draws it.
        function drawChart1() {
            // create the data table
            var mplist = {{ mplist | safe }};
            // add colours for chart
            var colours = ['ff9966', '996633', 'ffcccc', 'cc6633', '669966', '339966', 'ccffcc', '33cc99', '339999', '339966', 'ccffcc', '33cc99' ];
            for (i=0; i < mplist.length; i++) {
                mplist[i].push(colours[i])
            };
            var data = new google.visualization.DataTable();
            data.addColumn('string', 'Member of parliament');
            data.addColumn('number', 'Engagement');
            data.addColumn({ type:'string', role: 'style'});
            data.addRows(mplist);
            // Set chart options
            var options = {
                'title': 'Average engagement by individual MPs',
                'legend': 'none'
            };
            // Instantiate and draw our mp chart, passing in some options.
            var chart = new google.visualization.BarChart(document.getElementById('chart_div1'));
            chart.draw(data, options);
        }
         // Set a callback to run when the Google Visualization API is loaded.
         google.charts.load('current', {
            'packages': ['corechart']
        });
         google.charts.setOnLoadCallback(drawChart2);

        // Callback that creates and populates a data table,
        // instantiates the chart, passes in the data and
        // draws it.
        function drawChart2() {
            
            // create the party data tables
            var data1 = new google.visualization.DataTable();
            data1.addColumn('string', 'Party');
            data1.addColumn('number', 'Engagement');
            data1.addColumn({ type:'string', role: 'style'});
            data1.addRows( {{ partylist | safe }} );
            
            // Set chart options
            var options = {
                'title': 'Average engagement by political party',
                'legend': 'none',
            };
            // Instantiate and draw our chart, passing in some options.
            var container = document.getElementById('chart_div2');
            var chart1 = new google.visualization.BarChart(container);
            chart1.draw(data1, options);
        }
        // Set a callback to run when the Google Visualization API is loaded.
        google.charts.load('current', {
                    'packages': ['corechart']
                });
         google.charts.setOnLoadCallback(drawChart3);

        // Callback that creates and populates a data table,
        // instantiates the chart, passes in the data and
        // draws it.
        function drawChart3() {
            // create the gender data tables 
            // create the data table
            var genderlist = {{ genderlist | safe}};
            // add colour for the chart
            console.log(genderlist);
            genderlist[0].push('blue');
            genderlist[1].push('red');
            console.log(genderlist);
            var data2 = new google.visualization.DataTable();
            data2.addColumn('string', 'Gender');
            data2.addColumn('number', 'Engagement');
            data2.addColumn({ type:'string', role: 'style'});
            data2.addRows(genderlist);
            // Set chart options
            var options2 = {
                'title': 'Average engagement by gender',
                'legend': 'none',
            };
            // Instantiate and draw our gender chart, passing in some options.
            var chart2 = new google.visualization.BarChart(document.getElementById('chart_div3'));
            chart2.draw(data2, options2);
           }
           // resize jquery event to redraw charts when window is resized.
        $(window).resize(function(){
            drawChart1();
            drawChart2();
            drawChart3();
            console.log('resize event: chart redrawn')
        });
        // when browser refreshes the charts are drawn again. this is moslty for testing
         $(window).on('load', function(){
            drawChart1();
            drawChart2();
            drawChart3();
            console.log('load event: charts redrawn')
        }) 
    </script>
</head>

<body>
    <h1>MP Engagement on Twitter </h1>
    <main>
        <div class="maincontainer">
                <H2 tabindex="0">Twitter engagement by MPs</H2>
                <div class="container">
                    <div id="chart_div1" class="chart shadow" tabindex="0"></div>
                    <div id="tweet1" class="tweet" tabindex="0">
                            {{ mptweet | safe }} 
                            <p>The most engaged tweet from the most engaging MP </p>
                    </div>
                </div>
                <H2 tabindex="0">Twitter engagement by party</H2>
                <div class="container">
                        <div id="chart_div2" class="chart shadow" tabindex="0"></div>
                        <div id="tweet2" class="tweet" tabindex="0">
                            {{ partytweet | safe }}
                            <p>The most engaged tweet from the most engaging party </p>
                        </div>
                </div>
                <H2 tabindex="0">Twitter engagement by gender</H2>
                <div class="container">  
                        <div id="chart_div3" class="chart shadow" tabindex="0"></div>
                        <div id="tweet3" class="tweet" tabindex="0">
                            {{ gendertweet | safe }}
                            <p>The most engaged tweet from the most engaging gender</p>
                        </div>    
                </div>               
        </div>
    </main>
   
</body>
<footer>
    <a href="mailto:webmaster@example.com">Contact me at my Email for Subject Access Requests</a>
</footer>
</html>
